body {
    background-color: var(--c2);
}

.bubbly-button {
    border: 1px solid var(--c1);
    width: calc(100vw - 100px);
    height: calc(10vh);
    margin-top: 10px;
    background-color: var(--c3);
    cursor: pointer;
}
.bubbly-button>a {
    font-size: 70px;
    color: #aa99bb;
    font-family: 'Quicksand', sans-serif;
}
#searchInput {
    display: inline-block; 
    border: 2px solid var(--c1);
    width: 10vw;
    height: 50px;
    transition: 0.5s ease-in-out;
    background-color: var(--c3);
    box-shadow: 1px 2px 200px 2px var(--c3, 0.33);
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}