@font-face {
  font-family: 'FONT1', sans-serif;
  src: url('/data/fonts/AlteHaasGroteskRegular.ttf');
}
@font-face {
  font-family: 'FONT2';
  src: url('/data/fonts/Tempura.ttf');
}

* {
  z-index: 99;
}
body { 
  margin: 0;
  padding: 0;
  background: url('/data/images/bgg.jpg');
  font-family: 'FONT2', sans-serif; 
}
#darker {
  position: absolute;
  opacity: 0.95;
  z-index: -1;
  background-color: black;
  width: 100vw;
  height:100vh;
}
#counter {
  border: 2px solid #875dff;
  border-radius: 50px;
}
.bubbly-button {
  display: block;
  border: 1px solid #875dff;
  width: 70vw;
  margin-top: 10px;
  height: 100px;
  background-color: #875dff;
  cursor: pointer;
}
.bubbly-button>a {
  font-size: 70px;
  color: #8a11ff;
  font-family: 'FONT2', sans-serif;
}
.proxywrapper {
 width: 100%;
 height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
.titlee { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px; 
  font-weight: bold;
  font-family: 'FONT2', sans-serif;
}
h5#title {
  font-size: 14px;
}
div.navywrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
i {
  cursor: pointer !important;
  color: #875dff;
}
div.navy {
  width: 18vw;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  border: 2px solid #875dff;
  margin: 0 auto;
}

div.navy>i {
  font-size: 30px;
  font-family: 'FONT2', sans-serif;
  border-radius: 10%;
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.3;
  background-color: #000;
  z-index: 99;
}

#loading-image {
  display:block;
  transform: translate(50%, 50%);
  z-index: 100;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #875dff;
  padding: 0;
}
#uv-address{
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #100020;
  width: calc(100% - 100px);
  height: 50px;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'FONT2', sans-serif;
  margin-bottom: auto;
  margin-top: 50px;
}
#uv-address:hover {
  width: calc(100% - 50px);
  transition: 0.5s ease-in-out;
}
#uv-address:focus {
  width: calc(100% - 40px);
  transition: 0.5s ease-in-out;
}
/* tops */

@keyframes kf_fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#mm {
  min-width: 100px;
  max-width: 400px;
}
#span {
  font-size: 40px;
  color: blueviolet;
}
nav {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #6317a9;
}
nav>a {
  margin-left: 100px;
  text-decoration: none;
  color: blueviolet;
  font-size: 40px;
}
nav>span {
  margin-left: 100px;
  float: left;
}